# APP
ENV=development
APP_NAME="patient-record"
APP_URL=http://localhost:3000
APP_PORT=3000

# DEBUG=sequelize*

LOG_LEVEL=error,warn,log,debug,verbose

# DATABASE
DB_CONNECTION=postgresql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=patientrecord
DB_USERNAME=postgres
DB_PASSWORD=postgres

DB_READ_CONNECTION=postgresql
DB_READ_HOST=127.0.0.1
DB_READ_PORT=5432
DB_READ_NAME=patientrecord
DB_READ_USERNAME=postgres
DB_READ_PASSWORD=postgres

#REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# REDIS_PASSWORD=

#JWT
JWT_ALGORITHM=HS256
JWT_KEY_FOLDER=./src/modules/common/auth/secret/
JWT_DEFAULT_EXPIRE_TIME=900
JWT_REFRESH_EXPIRE_TIME=900
JWT_SECRET_KEY=private.key
JWT_PUBLIC_KEY=public.key
